# Make sure clams-python version is explicitly specified, at least the lower bound
clams-python==1.0.9
mmif-python[cv]==1.0.8

torch==2.0.*
transformers==4.30.*
opencv-python==4.8.*
pillow==9.5.*
tqdm
faiss-cpu
pandas
numpy
chardet